<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" height="500px;">
      <div class="col"></div>
      <div class="col-md-6 bg-white shadow">
        <div class="card bg-warning mt-4">
          <h4 class="text-white ps-3 pt-2 pb-2"> To Do List</h4>
        </div>
        <div class="shadow">
          <div class="input-group p-4">
            <input *ngIf="!editTaskValue" type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)] = "addTaskValue">
            <button *ngIf="!editTaskValue" class="btn btn-outline-success" type="button" (click)="addTask()">Submit</button>
            <input *ngIf="editTaskValue" type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)] = "editTaskValue">
            <button *ngIf="editTaskValue" class="btn btn-outline-success" type="button" (click)="saveEditTask()">Save</button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

